{% extends 'SiteMainBundle::layout.html.twig' %}

{% block title %}VISMARA DESIGN{% if app.request.locale == 'en' %}{{ ' | '~catalog.title }}{% else %}{{ ' | '~catalog.titleIt }}{% endif %}{% endblock %}
{% block description %}{% if app.request.locale == 'en' %}{{ catalog.description }}{% else %}{{ catalog.descriptionIt }}{% endif %}{% endblock %}
{% block og_title %}VISMARA DESIGN{% if app.request.locale == 'en' %}{{ ' | '~catalog.title }}{% else %}{{ ' | '~catalog.titleIt }}{% endif %}{% endblock %}
{% block og_description %}{% if app.request.locale == 'en' %}{{ catalog.description }}{% else %}{{ catalog.descriptionIt }}{% endif %}{% endblock %}
{% block og_image %}http://{{ app.request.host~image('.'~media_public_url(catalog.preview, 'reference')).zoomCrop(300, 300) }}{% endblock %}
{% block og_url %}{% endblock %}
{% block image_src %}http://{{ app.request.host~image('.'~media_public_url(catalog.preview, 'reference')).zoomCrop(300, 300) }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('sitemain/js/fancybox/source/jquery.fancybox.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('sitemain/js/fancybox/source/helpers/jquery.fancybox-buttons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('sitemain/js/photoswipe/photoswipe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('sitemain/css/custom-photoswipe.css') }}">
    {% if catalog.background.id is defined %}
        <style type="text/css">
            .wrapper-img {
                background: url("{% path catalog.background, 'reference' %}") top center;
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="wrapper-img layout-max">
        {% if catalog.showTitleImg %}
            {% if catalog.dark == false %}
            <div></div>
            {% endif %}
            <div class="headImg">
                <img src="{% path catalog.titleImg, 'reference' %}" alt="{% if app.request.locale == 'en' %}{{ catalog.title }}{% elseif app.request.locale == 'it' %}{{ catalog.titleIt }}{% elseif app.request.locale == 'ru' %}{{ catalog.titleRu }}{% endif %}"/>
            </div>
        {% else %}
            {% if catalog.dark == false %}
                <div></div>
            {% endif %}
            <div class="head">
                {% if app.request.locale == 'en' %}
                    {{ catalog.title }}
                {% elseif app.request.locale == 'it' %}
                    {{ catalog.titleIt }}
                {% elseif app.request.locale == 'ru' %}
                    {{ catalog.titleRu }}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="content gallery-content">
        <div class="rightText">
            {% if app.request.locale == 'en' %}
                {{ catalog.text|raw }}
            {% elseif app.request.locale == 'it' %}
                {{ catalog.textIt|raw }}
            {% elseif app.request.locale == 'ru' %}
                {{ catalog.textRu|raw }}
            {% endif %}
            <div class="social-buttons">
                <script type="text/javascript">(function() {
                        if (window.pluso)if (typeof window.pluso.start == "function") return;
                        if (window.ifpluso==undefined) { window.ifpluso = 1;
                            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                            var h=d[g]('body')[0];
                            h.appendChild(s);
                        }})();</script>
                <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter,google"></div>
            </div>
        </div>
        <div class="leftText">
            <div class="images">
                <div class="gallery group">
                    {% for i in images %}
                        <div>
                            <a id="img{{ i.id }}"
                               href="{{ asset(i.minSrc) }}"
                               class="fancybox" rel="group"></a>
                            <a href="#"><img src="{{ image(i.src).zoomCrop(500, 500) }}"
                                             alt="{{ image(i.src).zoomCrop(500, 500) }}"/></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerImg %}
    {% if catalog.bgShow == false %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('sitemain/js/fancybox/source/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('sitemain/js/photoswipe/lib/simple-inheritance.min.js') }}"></script>
    <script src="{{ asset('sitemain/js/photoswipe/code-photoswipe-jQuery-1.0.11.js') }}"></script>
    <script src="{{ asset('sitemain/js/init.gallery.js') }}"></script>
{% endblock %}