{% if products is defined %}
    {% for product in products %}
        {% if product.category.id is defined %}
            <div class="product">
                <a href="#" onclick="showProduct(this); return false;" data-html="{{ render(url('Site_main_product_one', {slug: product.slug}))|json_encode }}" class="zoom" id="zoom">
                    {% if product.preview.id is defined %}
                        <img src="{{ image('.'~media_public_url(product.preview, 'reference')).zoomCrop(500, 403) }}" alt=""/>
                    {% else %}
                        <img src="{{ image('sitemain/img/bg80.png').zoomCrop(500, 403) }}" alt=""/>
                    {% endif %}
                    <div class="wrap_name">
                        <div class="name">
                            <div>
                                {% if app.request.locale == "en" %}
                                    {{ product.title }}
                                {% elseif app.request.locale == "it" %}
                                    {{ product.titleIt }}
                                {% elseif app.request.locale == "cn" %}
                                    {{ product.titleCn }}
                                {% elseif app.request.locale == "ru" %}
                                    {{ product.titleRu }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}