{% extends 'SiteMainBundle::layout.html.twig' %}

{% block title %}
    {% if product.id is defined %}
        {% if app.request.locale == "it" %}
            {{ product.metaTitleIt }}
        {% elseif app.request.locale == "ru" %}
            {{ product.metaTitleRu }}
        {% elseif app.request.locale == "cn" %}
            {{ product.metaTitleCn }}
        {% else %}
            {{ product.metaTitle }}
        {% endif %}
    {% elseif category.id is defined %}
        {% if app.request.locale == "it" %}
            {{ category.metaTitleIt }}
        {% elseif app.request.locale == "ru" %}
            {{ category.metaTitleRu }}
        {% elseif app.request.locale == "cn" %}
            {{ category.metaTitleCn }}
        {% else %}
            {{ category.metaTitle }}
        {% endif %}
    {% else %}
        {% if app.request.locale == "it" %}
            {{ page.metaTitleIt }}
        {% elseif app.request.locale == "ru" %}
            {{ page.metaTitleRu }}
        {% elseif app.request.locale == "cn" %}
            {{ page.metaTitleCn }}
        {% else %}
            {{ page.metaTitle }}
        {% endif %}
    {% endif %}
{% endblock %}
{% block keywords %}
    {% if product.id is defined %}
        {% if app.request.locale == "it" %}
            {{ product.keywordIt }}
        {% elseif app.request.locale == "ru" %}
            {{ product.keywordRu }}
        {% elseif app.request.locale == "cn" %}
            {{ product.keywordCn }}
        {% else %}
            {{ product.keyword }}
        {% endif %}
    {% else %}
        {% if app.request.locale == "it" %}
            {{ page.keywordIt }}
        {% elseif app.request.locale == "ru" %}
            {{ page.keywordRu }}
        {% elseif app.request.locale == "cn" %}
            {{ page.keywordCn }}
        {% else %}
            {{ page.keyword }}
        {% endif %}
    {% endif %}
{% endblock %}
{% block description %}
    {% if product.id is defined %}
        {% if app.request.locale == "it" %}
            {{ product.descriptionIt }}
        {% elseif app.request.locale == "ru" %}
            {{ product.descriptionRu }}
        {% elseif app.request.locale == "cn" %}
            {{ product.descriptionCn }}
        {% else %}
            {{ product.description }}
        {% endif %}
    {% else %}
        {% if app.request.locale == "it" %}
            {{ page.descriptionIt }}
        {% elseif app.request.locale == "ru" %}
            {{ page.descriptionRu }}
        {% elseif app.request.locale == "cn" %}
            {{ page.descriptionCn }}
        {% else %}
            {{ page.description }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        {% if page.background2.id is defined %}
        .wrap {
            background: url("{% path page.background2, 'reference' %}") top center;
        }
        {% endif %}
        {% if page.background.id is defined %}
        .wrapper-img {
            background: url("{% path page.background, 'reference' %}") top center;
        }
        {% endif %}
    </style>
    <link rel="stylesheet" href="{{ asset('sitemain/js/product_window/slick/slick.css') }}" />
    <link rel="stylesheet" href="{{ asset('sitemain/js/product_window/slick/slick-theme.css') }}" />
    <link rel="stylesheet" href="{{ asset('sitemain/css/product_window/my.css') }}" />
{% endblock %}

{% block slider %}

{% endblock %}

{% block content %}
    {# Хлебные крошки #}
    <div class="wrapper-breadcrumbs">
        <div class="breadcrumbs">
            <ul>
               <li>
                   <span>
                       <a href="{{ path('Site_main_category_products') }}">
                           {% if app.request.locale == "en" %}
                               {{ page.title }}
                           {% elseif app.request.locale == "it" %}
                               {{ page.titleIt }}
                           {% elseif app.request.locale == "cn" %}
                               {{ page.titleCn }}
                           {% elseif app.request.locale == "ru" %}
                               {{ page.titleRu }}
                           {% endif %}
                       </a>
                   </span>
                   <span class="line">/</span>
               </li>
               <li>
                   <span>
                       {% if app.request.locale == "en" %}
                           {{ category.title }}
                       {% elseif app.request.locale == "it" %}
                           {{ category.titleIt }}
                       {% elseif app.request.locale == "cn" %}
                           {{ category.titleCn }}
                       {% elseif app.request.locale == "ru" %}
                           {{ category.titleRu }}
                       {% endif %}
                   </span>
               </li>
            </ul><ul class="filter right">
                {#<li>#}
                   {#{% if filter == 'all' %}#}
                       {#<span>all</span>#}
                   {#{% else %}#}
                       {#<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'filter': 'all'})) }}">all</a>#}
                   {#{% endif %}#}
                    {#<span class="line">/</span>#}
                {#</li>#}
                {% for f in filters %}
                    <li>
                       {% if filter == f.slug %}
                           <span>
                              {% if app.request.locale == "en" %}
                                  {{ f.title }}
                              {% elseif app.request.locale == "it" %}
                                  {{ f.titleIt }}
                              {% elseif app.request.locale == "cn" %}
                                  {{ f.titleCn }}
                              {% elseif app.request.locale == "ru" %}
                                  {{ f.titleRu }}
                              {% endif %}
                           </span>
                       {% else %}
                           <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'filter': f.slug})) }}">
                               {% if app.request.locale == "en" %}
                                   {{ f.title }}
                               {% elseif app.request.locale == "it" %}
                                   {{ f.titleIt }}
                               {% elseif app.request.locale == "cn" %}
                                   {{ f.titleCn }}
                               {% elseif app.request.locale == "ru" %}
                                   {{ f.titleRu }}
                               {% endif %}
                           </a>
                       {% endif %}

                        {% if loop.last == false %}
                            <span class="line">/</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {# end Хлебные крошки #}

    {% if category is defined %}
        <div class="wrap_content">
            <div class="content catalog">
                <h1>
                    {% if app.request.locale == "en" %}
                        {{ category.title }}
                    {% elseif app.request.locale == "it" %}
                        {{ category.titleIt }}
                    {% elseif app.request.locale == "cn" %}
                        {{ category.titleCn }}
                    {% elseif app.request.locale == "ru" %}
                        {{ category.titleRu }}
                    {% endif %}
                </h1>
                {% if app.request.locale == "en" %}
                    {{ category.text|replace({'<div': '<p', '</div>': "</p>"})|raw }}
                {% elseif app.request.locale == "it" %}
                    {{ category.textIt|replace({'<div': '<p', '</div>': "</p>"})|raw }}
                {% elseif app.request.locale == "cn" %}
                    {{ category.textCn|replace({'<div': '<p', '</div>': "</p>"})|raw }}
                {% elseif app.request.locale == "ru" %}
                    {{ category.textRu|replace({'<div': '<p', '</div>': "</p>"})|raw }}
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="wrapper-collection catalog layout-max">
        <div class="layout">
            <div class="gallery group">
                {% include 'SiteMainBundle:Product:catalog.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('sitemain/js/product_window/slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/product.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/imagesloaded.pkgd.min.js') }}"></script>
    {% if app.request.attributes.get('_route') == 'Site_main_products_one' %}
        <script type="text/javascript">
            $("*[href='{{ path('Site_main_products_one', {category : app.request.get('category'), filter: app.request.get('filter'), slug : product.slug}) }}']").click();
        </script>
    {% endif %}
{% endblock %}