<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ 'RESERVED FOR COMPANIES'|trans }} VismaraDesign</title>
</head>
<body style="margin: 0px; width: 700px; font-family: Arial; letter-spacing: 2px;">
<div class="content">
    <table class="table" style="border-collapse: collapse;">
        <tr>
            <td>{{ 'First name'|trans }}</td>
            <td> {{ feedback.firstName }}</td>
        </tr>
        <tr>
            <td>{{ 'Second name'|trans }}</td>
            <td> {{ feedback.lastName }}</td>
        </tr>
        <tr>
            <td>{{ 'Country'|trans }}</td>
            <td> {{ feedback.country }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td> {{ feedback.email }}</td>
        </tr>
        <tr>
            <td>{{ 'Phone'|trans }}</td>
            <td> {{ feedback.phone }}</td>
        </tr>
        <tr>
            <td>{{ 'Text'|trans }}</td>
            <td> {{ feedback.text }}</td>
        </tr>
        <tr>
            <td>{{ 'Product'|trans }}</td>
            <td>
                {% if app.request.locale == "en" %}
                    {{ feedback.product.title }}
                {% elseif app.request.locale == "it" %}
                    {{ feedback.product.titleIt }}
                {% elseif app.request.locale == "cn" %}
                    {{ feedback.product.titleCn }}
                {% elseif app.request.locale == "ru" %}
                    {{ feedback.product.titleRu }}
                {% endif %}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
