{% extends 'SiteMainBundle::layout.html.twig' %}

{% from 'SiteMainBundle:Client:macros.html.twig' import one %}
{% from 'SiteMainBundle:Client:macros.html.twig' import colorList %}

{% block title %}{% if app.request.locale == "it" %}{{ page.titleIt }}{% elseif app.request.locale == "ru" %}{{ page.titleRu }}{% elseif app.request.locale == "cn" %}{{ page.titleCn }}{% else %}{{ page.title }}{% endif %}{% endblock %}
{% block keywords %}{% if app.request.locale == "it" %}{{ page.keywordIt }}{% elseif app.request.locale == "ru" %}{{ page.keywordRu }}{% elseif app.request.locale == "cn" %}{{ page.keywordCn }}{% else %}{{ page.keyword }}{% endif %}{% endblock %}
{% block description %}{% if app.request.locale == "it" %}{{ page.descriptionIt }}{% elseif app.request.locale == "ru" %}{{ page.descriptionRu }}{% elseif app.request.locale == "cn" %}{{ page.descriptionCn }}{% else %}{{ page.description }}{% endif %}{% endblock %}

{% block slider %}

{% endblock %}

{% block content %}
    <div class="bottombox bottombox-catalog">
        <div class="c950">
            {# Каталоги #}
            <h2>{{ 'Catalogs'|trans }}</h2>
            <div class="boxs">{% for catalog in catalogs %}{{ one(catalog) }}{% endfor %}</div>
        </div>
        <div class="c950">
            {# Прайслисты #}
            <h2>{{ 'Pricelists'|trans }}</h2>
            <div class="boxs">{% for pricelist in pricelists %}{{ one(pricelist) }}{% endfor %}</div>
        </div>
        <div class="c950">
            {# Colors #}
            {{ colorList(colorGroups) }}
        </div>
    </div>
{% endblock %}

{% block footerImg %}
{% endblock %}

{% block footer %}
{% endblock %}