{% extends 'SiteMainBundle::layout.html.twig' %}

{% block html %} ng-app="feedback"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if page.background.id is defined %}
        <style type="text/css">
            body {
                background: url("{{ asset("sitemain/img/bg_form.jpg") }}");
                background-size: cover;
            }
        </style>
    {% endif %}
{% endblock %}

{% block slider %}
{% endblock %}

{% block content %}
    {% if page is defined %}
        <div class="bottombox">
            <div class="c950">
                <form id="catalogFeedback" name="form" action="" method="post" class="form-horizontal"
                      ng-controller="FeedbackController" novalidate>
                    <div class="form-group">
                        <div class="pull-left">
                        {{ form_widget(form.firstname) }}<span>*</span>
                        {{ form_widget(form.lastname) }}<span>*</span>
                        {{ form_widget(form.country) }}<span>*</span>
                        {{ form_widget(form.city) }}<span>*</span>
                        </div><div class="pull-right">
                        {% for e in form.email %}
                            {{ form_widget(e) }}<span>*</span>
                        {% endfor %}
                        {{ form_widget(form.message) }}<span>*</span>
                        </div>
                        <div class="form-actions clearfix">
                            <button type="button" id="submit" class="btn btn-success btn-lg"
                                    ng-disabled="form.$invalid || (user.email != user.email2)"
                                    ng-click="submit()">{{ 'Send'|trans }}</button>
                            <div class="successfully hide">{{ 'Letter has been sent successfully!'|trans }}</div>
                            <div class="error hide">{{ 'Error!'|trans }}</div>
                        </div>
                        {{ form_errors(form) }}
                        {{ form_end(form) }}
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footerImg %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("sitemain/js/angular.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("sitemain/js/angular-placeholder.js") }}"></script>
    <script type="text/javascript" src="{{ asset("sitemain/js/feedback.js") }}"></script>
{% endblock %}
