{% extends 'SiteMainBundle::layout.html.twig' %}

{% block title %}{% if app.request.locale == "it" %}{{ page.titleIt }}{% elseif app.request.locale == "ru" %}{{ page.titleRu }}{% elseif app.request.locale == "cn" %}{{ page.titleCn }}{% else %}{{ page.title }}{% endif %}{% endblock %}
{% block keywords %}{% if app.request.locale == "it" %}{{ page.keywordIt }}{% elseif app.request.locale == "ru" %}{{ page.keywordRu }}{% elseif app.request.locale == "cn" %}{{ page.keywordCn }}{% else %}{{ page.keyword }}{% endif %}{% endblock %}
{% block description %}{% if app.request.locale == "it" %}{{ page.descriptionIt }}{% elseif app.request.locale == "ru" %}{{ page.descriptionRu }}{% elseif app.request.locale == "cn" %}{{ page.descriptionCn }}{% else %}{{ page.description }}{% endif %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if page is defined %}
        <style type="text/css">
            {% if page.background2.id is defined %}
                .wrap {
                    background: url("{% path page.background2, 'reference' %}");
                    background-size: cover;
                }
            {% endif %}

            {% if page.slug == 'company' %}
                .wrapper-img {
                    background: #000;
                }
            {% else %}
                {% if page.background.id is defined %}
                    .wrapper-img {
                        background: url("{% path page.background, 'reference' %}") top center;
                    }
                {% endif %}
            {% endif %}
        </style>
    {% endif %}
{% endblock %}

{% block slider %}
{% endblock %}

{% block content %}
    {% if maps is defined %}
        {% if app.request.locale == "en" or app.request.locale == "it" or app.request.locale == "cn" %}
            <p class="headMap"><b>{{ 'Vismara Design in the world'|trans }}</b></p>
        {% endif %}
        <div id="map" style="width: 100%; height: 600px"></div>
    {% endif %}
    {% if page is defined %}
        <div class="wrapperContent {% if page.slug == 'company' %}wrapperContentBlack{% endif %}">
            <div class="content contentWhite {% if page.slug == 'company' %}contentBlack{% endif %}">
                {% if maps is defined %}
                    <div class="wrap_contacts">
                        <div class="contacts">
                            <p>{{ 'contacts'|trans }}:</p>
                            {% if app.request.locale == "ru" %}
                                <p class="flag"><img src="{{ asset('sitemain/img/ru_big.jpg') }}" alt="Россия" width="49px" height="32px"> <span>Россия: +7 495 225 70 30</span></p>
                                <p class="flag"><img src="{{ asset('sitemain/img/uk_big.jpg') }}" alt="Украина" width="49px" height="32px"> <span>Украина: +38 098 606 24 35</span></p>
                                <p class="flag"><img src="{{ asset('sitemain/img/kz_big.jpg') }}" alt="Казахстан" width="48px" height="33px"> <span>Казахстан: +77273170003</span></p>
                                <p class="flag"><img src="{{ asset('sitemain/img/az_big.jpg') }}" alt="Азербайджан" width="49px" height="32px"> <span>Азербайджан: +994 51 5239451</span></p>
                            {% else %}
                                <p>{{ 'phone'|trans }}: +39 0362 503.726</p>
                                <p>{{ 'fax'|trans }}: +39 0362 551.452</p>
                            {% endif %}
                            <p class="email">{{ 'e-mail'|trans }}: <a href="mailto:kontakti@vismara.it" target="_top">kontakti@vismara.it</a></p>
                        </div><div class="chooseFeedback">
                            <div>
                                <a href="{{ path('Site_main_feedback_company') }}">{{ 'RESERVED FOR COMPANIES'|trans }}</a>
                                <a href="{{ path('Site_main_feedback_private_person') }}">{{ 'RESERVED FOR INDIVIDUALS'|trans }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if app.request.locale == "en" %}
                    {{ page.text|raw }}
                {% elseif app.request.locale == "it" %}
                    {{ page.textIt|raw }}
                {% elseif app.request.locale == "cn" %}
                    {{ page.textCn|raw }}
                {% elseif app.request.locale == "cn" %}
                    {{ page.textCn|raw }}
                {% elseif app.request.locale == "ru" %}
                    {{ page.textRu|raw }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if maps is defined %}
    {% set lang = 'ru-RU' %}
    {% if app.request.locale != 'ru' %}
        {% set lang = 'en-US' %}
    {% endif %}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang={{ lang }}" type="text/javascript"></script>
    <script>
        ymaps.ready(init);
        var myMap,
                myPlacemark;
        function init() {
            var evro = [
                {% for map in maps %}
                {% if map.img.id is defined %}
                {% set img = '<div class="map_img"><img src="'~image('.'~media_public_url(map.img, 'reference')).cropResize(142)~'" /></div>' %}
                {% else %}
                {% set img = '' %}
                {% endif %}
                ['{{ img|raw }}<h4>{% if app.request.locale == 'en' %}{{ map.getName() }}{% elseif app.request.locale == 'it' %}{{ map.getNameIt() }}{% elseif app.request.locale == 'ru' %}{{ map.getNameRu() }}{% elseif app.request.locale == 'cn' %}{{ map.getNameCn() }}{% endif %}</h4>', {{ map.getX() }}, {{ map.getY() }}],
                {% endfor %}
            ];
            myMap = new ymaps.Map("map", {
                center: [44.44106868, -2.54793170],
                zoom: 3
            });
            iconImageHreff = '';
            for (i = 0; i < evro.length; i++) {
                iconImageHreff = '{{ asset('sitemain/img/icon.gif') }}';
                myPlacemark = new ymaps.Placemark([evro[i][1], evro[i][2]], {
                    content: evro[i][0],
                    balloonContent: evro[i][0]
                }, {
                    iconImageHref: iconImageHreff,
                    iconImageSize: [30, 16],
                    iconImageOffset: [-14, -16],
                    balloonCloseButton: false,
                    hideIconOnBalloonOpen: false
                });
                myMap.geoObjects.add(myPlacemark);
            }

            myMap.controls.add(
                    new ymaps.control.ZoomControl()
            );
            myMap.controls.add('typeSelector');
        }
    </script>
    {% endif %}
{% endblock %}