{% extends 'SiteMainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if page.background.id is defined %}
        <style type="text/css">
            .wrapper-img {
                background: url("{% path page.background, 'reference' %}") top center;
            }
        </style>
    {% endif %}
{% endblock %}

{% block slider %}
{% endblock %}

{% block content %}
    {% if maps is defined %}
        {% if app.request.locale == "en" or app.request.locale == "it" %}
            <p style="text-align: center;text-transform: uppercase;background: rgba(255, 255, 255, 0.5);position: absolute;width: 100%;z-index: 1000;padding: 1em 0;-webkit-margin-before: 0;-webkit-margin-after: 0;"><b>{{ 'Vismara Design in the world'|trans }}</b></p>
        {% endif %}
        <div id="map" style="width: 100%; height: 600px"></div>
    {% endif %}
    {% if page is defined %}
        <div class="wrapperContent">
            <div class="content contentWhite">
                {% if maps is defined %}
                    <div class="wrap_contacts">
                        <div class="contacts">
                            <p>{{ 'contacts'|trans }}:</p>
                            {% if app.request.locale == "ru" %}
                                <p>phone: <img src="{{ asset('sitemain/img/ru.jpg') }}" alt="Россия" width="15px" height="10px"> +7 495 225 70 30</p>
                                <p>phone: <img src="{{ asset('sitemain/img/ua.jpg') }}" alt="Укранина" width="15px" height="10px"> +38 098 606 24 35</p>
                            {% else %}
                                <p>phone: +39 0362 503.726</p>
                                <p>fax: +39 0362 551.452</p>
                            {% endif %}
                            <p>{{ 'e-mail'|trans }}: <a href="mailto:kontakti@vismara.it" target="_top">kontakti@vismara.it</a></p>
                        </div><div class="chooseFeedback">
                            <div>
                                <a href="{{ path('Site_main_feedback_company') }}">{{ 'RESERVED FOR COMPANIES'|trans }}</a>
                                <a href="{{ path('Site_main_feedback_private_person') }}">{{ 'RESERVED FOR INDIVIDUALS'|trans }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if app.request.locale == "en" %}
                    {{ page.text|raw }}
                {% elseif app.request.locale == "it" %}
                    {{ page.textIt|raw }}
                {% elseif app.request.locale == "ru" %}
                    {{ page.textRu|raw }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if maps is defined %}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script>
        ymaps.ready(init);
        var myMap,
                myPlacemark;
        function init() {
            var evro = [
                {% for map in maps %}
                {% if map.img.id is defined %}
                {% set img = '<div class="map_img"><img src="'~image('.'~media_public_url(map.img, 'reference')).cropResize(89)~'" /></div>' %}
                {% else %}
                {% set img = '' %}
                {% endif %}
                ['{{ img|raw }}<h4>{% if app.request.locale == 'en' %}{{ map.getName() }}{% elseif app.request.locale == 'it' %}{{ map.getNameIt() }}{% elseif app.request.locale == 'ru' %}{{ map.getNameRu() }}{% endif %}</h4><p>{% if app.request.locale == 'en' %}{{ map.getText() }}{% elseif app.request.locale == 'it' %}{{ map.getTextIt() }}{% elseif app.request.locale == 'ru' %}{{ map.getTextRu() }}{% endif %}</p>{% if map.getPhone() != '' %}<p>{{ map.getPhone() }}</p>{% endif %}', {{ map.getX() }}, {{ map.getY() }}],
                {% endfor %}
            ];
            myMap = new ymaps.Map("map", {
                center: [44.44106868, -2.54793170],
                zoom: 3
            });
            iconImageHreff = '';
            for (i = 0; i < evro.length; i++) {
                iconImageHreff = '{{ asset('sitemain/img/icon.gif') }}';
                myPlacemark = new ymaps.Placemark([evro[i][1], evro[i][2]], {
                    content: evro[i][0],
                    balloonContent: evro[i][0]
                }, {
                    iconImageHref: iconImageHreff,
                    iconImageSize: [30, 16],
                    iconImageOffset: [-14, -16]
                });
                myMap.geoObjects.add(myPlacemark);
            }

            myMap.controls.add(
                    new ymaps.control.ZoomControl()
            );
            myMap.controls.add('typeSelector');
        }
    </script>
    {% endif %}
{% endblock %}