{% extends 'SiteMainBundle::layout.html.twig' %}

{% block title %}{% if app.request.locale == "it" %}{{ page.metaTitleIt }}{% elseif app.request.locale == "ru" %}{{ page.metaTitleRu }}{% elseif app.request.locale == "cn" %}{{ page.metaTitleCn }}{% else %}{{ page.metaTitle }}{% endif %}{% endblock %}
{% block keywords %}{% if app.request.locale == "it" %}{{ page.keywordIt }}{% elseif app.request.locale == "ru" %}{{ page.keywordRu }}{% elseif app.request.locale == "cn" %}{{ page.keywordCn }}{% else %}{{ page.keyword }}{% endif %}{% endblock %}
{% block description %}{% if app.request.locale == "it" %}{{ page.descriptionIt }}{% elseif app.request.locale == "ru" %}{{ page.descriptionRu }}{% elseif app.request.locale == "cn" %}{{ page.descriptionCn }}{% else %}{{ page.description }}{% endif %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if page.background.id is defined %}
        <style type="text/css">
            body {
                background: url("{% path page.background, 'reference' %}");
                background-size: cover;
            }
        </style>
    {% endif %}
{% endblock %}

{% block slider %}

{% endblock %}

{% block content %}
    <div class="bottombox">
        <div class="c950">
            <h2>
                {{ "form_catalog.head"|trans }}<br/><br/>
                {{ "form_catalog.head_link"|trans }}<br/><br/>
                <a class="button_register" href="{{ path('client_register', { _locale: app.request.locale }) }}">{{ "form_catalog.head_link2"|trans }}</a>
                <a class="button_register" href="{{ path('client_login', { _locale: app.request.locale }) }}">{{ "form_catalog.login"|trans }}</a>
            </h2>
        </div>
    </div>
{% endblock %}

{% block footerImg %}
{% endblock %}

{% block footer %}
{% endblock %}