{% extends 'SiteMainBundle::layout.html.twig' %}

{% block html %} ng-app="feedback"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if page.background.id is defined %}
        <style type="text/css">
            body {
                background: url("{% path page.background, 'reference' %}");
                background-size: cover;
            }
        </style>
    {% endif %}
{% endblock %}

{% block slider %}

{% endblock %}

{% block content %}
    {% if catalogs is defined %}
        <div class="bottombox">
            <div class="c950">
                <h2>
                    {{ "form_catalog.head"|trans }}<br/>
                    <a href="{{ path('Site_main_feedback_company') }}">{{ "form_catalog.head_link"|trans }}</a>
                </h2>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footerImg %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset("sitemain/js/catalogFeedback.js") }}"></script>#}
    <script type="text/javascript" src="{{ asset("sitemain/js/angular.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("sitemain/js/angular-placeholder.js") }}"></script>
    <script type="text/javascript" src="{{ asset("sitemain/js/feedback.js") }}"></script>
{% endblock %}