{% macro newsMacros(news) %}
    {% if news|length > 0 %}
        <div class="boxes">
            {% for n in news %}<div class="box">
                    <img src="{{ image('.'~media_public_url(n.likeImage, 'reference')).zoomCrop(500, 500) }}" alt="{{ n.title }}"/>
                    <a href="{{ path('news_post', {slug: n.slug}) }}">
                        <span class="date">{{ n.created|date("d.m.y") }}</span>
                        {{ n.title }}
                    </a>
                </div>{% endfor %}
        </div>
    {% endif %}
{% endmacro %}