{% extends 'SiteMainBundle::layout.html.twig' %}

{% block title %}{{ n.title }}{% endblock %}
{% block keywords %}{{ n.keyword }}{% endblock %}
{% block description %}{{ n.description }}{% endblock %}
{% block og_image %}{% if n.likeImage.id is defined %}http://{{ app.request.host }}{{ image('.'~media_public_url(n.likeImage, 'reference')).zoomCrop(300, 300) }}{% endif %}{% endblock %}
{% block image_src %}{% if n.likeImage.id is defined %}http://{{ app.request.host }}{{ image('.'~media_public_url(n.likeImage, 'reference')).zoomCrop(300, 300) }}{% endif %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('sitemain/js/photoswipe/photoswipe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('sitemain/css/custom-photoswipe.css') }}">
    {% if page is defined %}
        <style type="text/css">
            .wrapper-img {
                background: url("{% path page.background, 'reference' %}") top center;
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="wrapperContent">
        <div class="content contentWhite">
            {% include 'SiteMainBundle:News:gallery.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('sitemain/js/fancybox/source/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('sitemain/js/photoswipe/lib/simple-inheritance.min.js') }}"></script>
    <script src="{{ asset('sitemain/js/photoswipe/code-photoswipe-jQuery-1.0.11.js') }}"></script>
    <script src="{{ asset('sitemain/js/init.gallery.js') }}"></script>
    <script src="{{ asset("sitemain/js/videoClick.js") }}"></script>
{% endblock %}