<div class="wrap_post">
    <h2>
        <a href="{{ path('news_post', {type: n.type, slug: n[0].slug}) }}">
            {% set title = n[0].title %}
            {% set description = n[0].description %}
            {{ n[0].title }}
        </a>
    </h2>
    <div class="description">
        {{ n[0].text|raw }}
    </div>
    <div class="social">
        <script type="text/javascript">(function() {
                if (window.pluso)if (typeof window.pluso.start == "function") return;
                if (window.ifpluso==undefined) { window.ifpluso = 1;
                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                    var h=d[g]('body')[0];
                    h.appendChild(s);
                }})();</script>
        <div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,counter,theme=04" data-services="facebook,twitter,google" data-url="http://{{ app.request.host }}{{ path('news_post', {type: n.type, slug: n[0].slug}) }}" data-title="{{ title }}" data-description="{{ description }}"></div>
    </div>
</div>