<div class="videos news_video">
    <h2>
        <a href="{{ path('news_post', {type: n.type, slug: n[0].slug}) }}">
            {% if app.request.locale == "en" %}
                {% set title = n[0].title %}
                {% set description = n[0].description %}
                {{ n[0].title }}
            {% elseif app.request.locale == "it" %}
                {% set title = n[0].titleIt %}
                {% set description = n[0].descriptionIt %}
                {{ n[0].titleIt }}
            {% elseif app.request.locale == "ru" %}
                {% set title = n[0].titleRu %}
                {% set description = n[0].descriptionRu %}
                {{ n[0].titleRu }}
            {% endif %}
        </a>
    </h2>
<div class="wrap_video">
    <div class="video">
        <a href="http://www.youtube.com/embed/{{ n[0].getVideo().getProviderReference() }}?fs=1&amp;autoplay=1">
            <img src="{{ asset('sitemain/img/play.png') }}"
                 width="216px" height="216px"
                 alt="{{ asset('sitemain/img/play.png') }}"/>
        </a>
        <img src="{{ image(n[0].getVideo().getProviderMetadata()['thumbnail_url']).zoomCrop(835, 470) }}"
             width="835px"
             alt="{% if app.request.locale == "en" %}{{ n[0].title }}{% elseif app.request.locale == "it" %}{{ n[0].titleIt }}{% elseif app.request.locale == "ru" %}{{ n[0].titleRu }}{% endif %}"/>
        <div class="background"></div>
    </div>
    <div class="description">
        {% if app.request.locale == "en" %}
            {{ n[0].text|raw }}
        {% elseif app.request.locale == "it" %}
            {{ n[0].textIt|raw }}
        {% elseif app.request.locale == "ru" %}
            {{ n[0].textRu|raw }}
        {% endif %}
    </div>
    <div class="social">
        <script type="text/javascript">(function() {
                if (window.pluso)if (typeof window.pluso.start == "function") return;
                if (window.ifpluso==undefined) { window.ifpluso = 1;
                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                    var h=d[g]('body')[0];
                    h.appendChild(s);
                }})();</script>
        <div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,counter,theme=04" data-services="facebook,twitter,google" data-url="http://{{ app.request.host }}{{ path('news_post', {type: n.type, slug: n[0].slug}) }}" data-title="{{ title }}" data-description="{{ description }}"></div>
    </div>
</div>
</div>